In [20]:
import pandas as pd
import urllib
from urllib.parse import urlparse, parse_qs

In [21]:
df = pd.read_csv('data.tsv', sep='\t')

In [22]:
sort_df = df.sort_values(['ip', 'date_time'])
#sort_df

In [23]:
transformed_df = sort_df.drop(['hit_time_gmt', 'user_agent', 'geo_region', 'geo_country', 'geo_city', 'pagename'], axis=1)
#transformed_df

In [24]:
transformed_df.set_index('ip', inplace=True)
#transformed_df

In [12]:
search_engine_list = []
search_keyword_list = []
revenue_list = []

for row in transformed_df.itertuples():
    referrer_url = row.referrer
    parsed_url = urlparse(referrer_url)
    search_engine = parsed_url.hostname
    search_engine_list.append(search_engine)
    qr = parse_qs(parsed_url.query)
    
    if qr:
        try:
            search_keyword = qr['q'][0]
        except KeyError:
            search_keyword = ""
    else:
        search_keyword = ""
    search_keyword_list.append(search_keyword)   
    
    event_list = row.event_list
    if event_list == 1.0:
        revenue = row.product_list.split(';')[3]
        revenue_list.append(revenue)
    else:
        revenue = 0
        revenue_list.append(revenue)
                
transformed_df['search_engine'] = search_engine_list
transformed_df['search_keyword'] = search_keyword_list
transformed_df['revenue'] = revenue_list
#transformed_df

In [13]:
revenue_df = transformed_df.drop(['date_time', 'event_list', 'page_url', 'product_list', 'referrer', 
                                         'search_engine', 'search_keyword'], axis=1)
revenue_df = revenue_df[revenue_df.revenue != 0 ]
revenue_df

            revenue
ip
23.8.61.21      250
44.12.96.2      190
67.98.123.1     290

In [14]:
search_df = transformed_df.drop(['date_time', 'event_list', 'page_url', 'product_list', 'referrer', 
                                         'revenue'], axis=1)
search_df = search_df[(search_df.search_engine != "") & (search_df.search_keyword != "")]
search_df

              search_engine search_keyword
ip
23.8.61.21     www.bing.com           Zune
44.12.96.2   www.google.com           ipod
67.98.123.1  www.google.com           Ipod

In [15]:
merged_df = search_df.merge(revenue_df, left_index=True, right_index=True, how='inner')
merged_df

              search_engine search_keyword revenue
ip
23.8.61.21     www.bing.com           Zune     250
44.12.96.2   www.google.com           ipod     190
67.98.123.1  www.google.com           Ipod     290

In [16]:
output_df = merged_df.reset_index(drop=True)
output_df = output_df.sort_values(['revenue'], ascending=False)
output_df

    search_engine search_keyword revenue
2  www.google.com           Ipod     290
0    www.bing.com           Zune     250
1  www.google.com           ipod     190

In [17]:
output_df = output_df.rename({'search_engine': 'Search Engine Domain', 
                              'search_keyword': 'Search Keyword',
                              'revenue': 'Revenue'}, axis=1)
output_df

  Search Engine Domain Search Keyboard Revenue
2       www.google.com            Ipod     290
0         www.bing.com            Zune     250
1       www.google.com            ipod     190

In [18]:
from datetime import date
today = date.today()
dte = today.strftime("%Y-%m-%d")
print(dte)

2021-12-15

In [19]:
output_df.to_csv(dte + '_SearchKeywordPerformance.tab', sep='\t', index=False)